@page "/entertainment"
<p><a class="back-btn" href="/quiz">Back</a></p>

<h1 class="category-header">Välj underhållnings-kategori</h1>

<div class="container">
    <a class="category-btn" href="/cars"><img class="svg"src="/Images/car.svg">Bilar</a>
    <a class="category-btn" href="/movies&tv-shows"><img class="svg"src="/Images/movie.svg">Filmer & TV-Serier</a>
    <a class="category-btn" href="/music"><img class="svg"src="/Images/music.svg">Musik</a>
    <a class="category-btn" href="/videogames"><img class="svg"src="/Images/videogame.svg">TV-Spel</a>
</div>
