@page "/entertainment"
<p><a href="/quiz">Back</a></p>

<h1>Entertainment</h1>

<div class="category-container">
    <div class="card">
        <a href="/music"><img  class="categoryimage"src="/Images/music.jpg" /></a>
        <div class="container">
            <h4>Music</h4>
        </div>
    </div>
    <div class="card">
        <a href="/movies&tv-shows"><img class="categoryimage" src="/Images/movies.jpg" /></a>
        <div class="container">
            <h4>Movies & TV-Shows</h4>
        </div>
    </div>
    <div class="card">
        <a href="/cars"><img class="categoryimage" src="/Images/cars.jpg"/></a>
        <div class="container">
            <h4>Cars</h4>
        </div>
    </div>
    <div class="card">
        <a href="/videogames"><img class="categoryimage" src="/Images/videogames.webp" /></a>
        <div class="container">
            <h4>Video games</h4>
        </div>
    </div>
</div>