@page "/entertainment"
<p><a class="back-btn" href="/quiz">Back</a></p>

<h1>Underhållning</h1>

<div class="category-container">
    <div class="card">
        <a href="/music"><img  class="categoryimage"src="/Images/music.jpg" /></a>
        <div class="container">
            <h4>Musik</h4>
        </div>
    </div>
    <div class="card">
        <a href="/movies&tv-shows"><img class="categoryimage" src="/Images/movies.jpg" /></a>
        <div class="container">
            <h4>Filmer & TV-Serier</h4>
        </div>
    </div>
    <div class="card">
        <a href="/cars"><img class="categoryimage" src="/Images/cars.jpg"/></a>
        <div class="container">
            <h4>Bilar</h4>
        </div>
    </div>
    <div class="card">
        <a href="/videogames"><img class="categoryimage" src="/Images/videogames.webp" /></a>
        <div class="container">
            <h4>TV-Spel</h4>
        </div>
    </div>
</div>