@page "/movies&tv-shows"
@inherits QuizBase
@using GusQuiz.Components


<p><a class="back-btn" href="/entertainment">Back</a></p>
<div class="container">
    <div class="quiz">
        @if (questionIndex4 < 4)
        {
            <div class="app-title">
                @Questions[movieCount].Category
            </div>
            <div class="quiz-header">
                @Questions[movieCount].NameOfQuestion
            </div>
            <div class="quiz-body">
                @foreach (var option2 in Questions[movieCount].Options)
                {
                    <button class="option-btn" @onclick="Counter"><OptionCard Option="@option2" OnOptionSelected="OptionSelectedSolo"></OptionCard></button>
                }
            </div>
        }
        else
        {
            <div class="app-title">
            @if (player1Score > (4 / 2))
            {
                <img class="winlose" src="/images/trophy.png" />
            }
            else
            {
                <img class="winlose"src="/images/clown.png" />
            }
            </div>
            <div class="quiz-header">
                    <b>Du fick @player1Score/@questionIndex4 poäng!</b>
            </div>
            <div class="quiz-footer">
                <button class="next-btn" @onclick="@RestartQuiz">Spela igen</button>
            </div>
        }
    </div>
</div>

@code {
    public void Counter()
    {
        movieCount++;
    }
}