@page "/"

<PageTitle>GusQuiz - Start</PageTitle>

<h1 class="welcome-header">GusQuiz</h1>

<div class="container">
    <a class="category-btn" href="/quizbattle"><img class="svg"src="/Images/swords.svg">Quiz Battle</a>
    <a class="category-btn" href="/quiz"><img class="svg"src="/Images/quiz.svg">Solo Quiz</a>
</div>