@page "/quiz"

<h1 class="category-header">Välj kategori</h1>

<div class="container">
    <a class="category-btn" href="/sports">Sport</a>
    <a class="category-btn" href="/entertainment">Underhållning</a>
    <a class="category-btn" href="/food">Mat</a>
    <a class="category-btn" href="/history">Historia</a>
</div>