@page "/quiz"

<h1>Välj kategori</h1>

<a class="sports" href="/sports">Sport</a>
<a class="entertainment" href="/entertainment">Underhållning</a>
<a class="food" href="/food">Mat</a>
<a class="history" href="/history">Historia</a>