* {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.app-title {
    font-size: 15pt;
    width: 50%;
    text-align: center;
    margin: 0 auto 50px;
    background-color: #32CD32;
    border-bottom-left-radius: 15px;
    color: black;
    border-bottom-right-radius: 15px;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

.back-btn {
    color: green !important;
    text-decoration: none;
    border: 2px solid green;
    padding: 4px;
    border-radius: 10px;
}

.back-btn:hover {
    color: darkgreen !important;
    border: 2px solid darkgreen;
    transition: 0.2s;
}

.quiz-header {
    text-align: center;
    font-weight: bolder;
    height: 120px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 15px 10px -15px #111;
    color: #006400;
    font-size: 24px;
}

.quiz {
    margin: 0 auto;
    width: 75%;
    border-radius: 10px;
    padding: 0 15px 15px 15px;
    box-shadow: -20px 20px 30px rgba(0,0,0,0.3);
    margin-bottom: 20px;
    position: relative;
}

.quiz-body {
    padding-top: 15px;
    display: grid;
    grid-template-columns: 50% 50%;
    border-radius: 25px;
    margin-top: 100px;
}

.winlose {
    width: 50px;
    display: block;
    margin: 0 auto;
}

.next-btn {
    margin: 0 auto;
    padding: 10px;
    border-radius: 15px;
    display: block;
    background-color: #32CD32;
    color: black;
    font-weight: bolder;
    cursor: pointer;
    margin-bottom: 20px;
}

.next-btn:hover {
    background-color: green;
}

.option-btn {
    border: none;
    margin-bottom: 10px;
    background: none;
    margin-left: 5px;
    margin-right: 5px;
}

.player-info {
    position: absolute;
    bottom: 0;
    width: 13%;
    border: 2px solid green;
    padding: 0px;
    border-radius: 15px;
    margin-bottom: 5px;
    padding: 0 10px 4px 4px;
}

.wins-header {
    margin: 0 auto;
    text-align: center;
    width: 70%;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border: 2px solid black;
    border-top: none;
    background-color: green;
    color: black;
    font-size: 1rem;
}

.win-count {
    float: right;
    color: green;
    font-size: 1.1rem;
}

.uppercase {
    margin-left: 5px;
    display: inline-block;
    color: green;
    font-size: 1.1rem;
}

.uppercase::first-letter{
    text-transform: uppercase;
}

.player-name {
    text-align: center;
    background-color: #32CD32;
    border-top-left-radius: 15px;
    color: black;
    font-size: 18px !important;
    border-top-right-radius: 15px;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    font-weight: bolder;
    position: absolute;
    bottom: 0;
    width: 40%;
    left: 30%;
}

.player-name::first-letter{
    text-transform: uppercase;
}

.questions-right {
    text-align: center;
    margin: 0 auto;
    display: block;
    font-size: 1.4rem;
    color: white;
    text-transform: uppercase;
    border-radius: 15px;
    margin-bottom: 40px;
}

.quiz-footer {
    width: 70%;
    display: block;
    margin: 0 auto;
    border-radius: 25px;
}

.welcome-con {
    margin: 0 auto;
    width: 600px;
}

.welcome-header {
    width: 100%;
    font-size: 40px;
    color: green;
}

.welcome-h3 {
    font-size: 1.2rem;
    color: darkgreen;
    font-weight: 100;
    margin-left: 40px;
    margin-bottom: 40px;
}

.start-h3 {
    font-size: 1.2rem;
    margin-bottom: 10px;
    color: darkgreen;
    margin-left: 20px;
}

.winscreen::first-letter {
    text-transform: uppercase;
}

.winscreen {
    font-size: 1.8rem;
}

.container {
    margin: 0 auto;
    width: 75%;
}

input {
    background-color: #4CAF50;
    border: 2px solid black;
    margin-left: 15%;
    border-radius: 5px;
}

input::placeholder {
    color: black;
}

.submit-player-btn {
    background-color: #4CAF50;
    border-radius: 5px;
}

.submit-player-btn:hover {
    background-color: green;
}
