@page "/sports"
<p><a class="back-btn"href="/quiz">Back</a></p>
<h1>Sports</h1>
<div class="category-container">
    <div class="card">
        <a href="/football"><img  class="categoryimage"src="/Images/football.jpg" /></a>
        <div class="container">
            <h4 class="category-header">Fotboll</h4>
        </div>
    </div>
    <div class="card">
        <a href="/golf"><img class="categoryimage" src="/Images/golf.jpg" /></a>
        <div class="container">
            <h4 class="category-header">Golf</h4>
        </div>
    </div>
    <div class="card">
        <a href="/hockey"><img class="categoryimage" src="/Images/hockey.jpg" /></a>
        <div class="container">
            <h4 class="category-header">Hockey</h4>
        </div>
    </div>
    <div class="card">
        <a href="/tennis"><img class="categoryimage" src="/Images/tennis.jpg" /></a>
        <div class="container">
            <h4 class="category-header">Tennis</h4>
        </div>
    </div>
</div>
