@page "/sports"
<p><a class="back-btn"href="/quiz">Back</a></p>
<h1 class="category-header">Välj sport-kategori</h1>

<div class="container">
    <a class="category-btn" href="/football"><img class="svg"src="/Images/football.svg">Fotboll</a>
    <a class="category-btn" href="/tennis"><img class="svg"src="/Images/tennis.svg">Tennis</a>
    <a class="category-btn" href="/hockey"><img class="svg"src="/Images/hockey.svg">Hockey</a>
    <a class="category-btn" href="/golf"><img class="svg"src="/Images/golf.svg">Golf</a>
</div>
