@page "/history"

<p><a href="/quiz">Back</a></p>
<h1>History</h1>
<div class="category-container">
    <div class="card">
        <a href="/religioushistory"><img  class="categoryimage"src="/Images/religion.jpg" /></a>
        <div class="container">
            <h4>Religionshistoria</h4>
        </div>
    </div>
    <div class="card">
        <a href="/politicalhistory"><img class="categoryimage" src="/Images/politicalhistory.png" /></a>
        <div class="container">
            <h4>Politisk historia</h4>
        </div>
    </div>
    <div class="card">
        <a href="/worldwars"><img class="categoryimage" src="/Images/the-world-wars-history-channel.webp" /></a>
        <div class="container">
            <h4>Världskrig</h4>
        </div>
    </div>
    <div class="card">
        <a href="/arthistory"><img class="categoryimage" src="/Images/Mona-Lisa-foto-Eric-TERRADE.jpg" /></a>
        <div class="container">
            <h4>Konstens historia</h4>
        </div>
    </div>
</div>
