@page "/history"

<p><a class="back-btn" href="/quiz">Back</a></p>
<h1 class="category-header">Välj historie-kategori</h1>

<div class="container">
    <a class="category-btn" href="/worldwars"><img class="svg"src="/Images/war.svg">Världskrig</a>
    <a class="category-btn" href="/politicalhistory"><img class="svg"src="/Images/politic.svg">Politisk historia</a>
    <a class="category-btn" href="/religioushistory"><img class="svg"src="/Images/church.svg">Religionshistoria</a>
    <a class="category-btn" href="/arthistory"><img class="svg"src="/Images/art.svg">Konstens historia</a>
</div>
