@page "/food"

<p><a class="back-btn" href="/quiz">Back</a></p>
<h1 class="category-header">Välj mat-kategori</h1>

<div class="container">
    <a class="category-btn" href="/frenchcuisine"><img class="svg"src="/Images/eiffel.svg">Franska köket</a>
    <a class="category-btn" href="/italiancuisine"><img class="svg"src="/Images/pisa.svg">Italienska köket</a>
    <a class="category-btn" href="/drinks"><img class="svg"src="/Images/drink.svg">Drinkar</a>
    <a class="category-btn" href="/desserts"><img class="svg"src="/Images/cake.svg">Desserter</a>
</div>
