* {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.category-btn {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    margin-bottom: 5px;
    border-radius: 5px;
}

.category-btn:hover {
    background-color: green;
    transition: 0.2s;
}
.category-btn:hover>.svg{
    opacity: 0.7;
}

.container {
    margin: 0 auto;
    width: 50%;
}

.category-header {
    text-align: center;
    color: green;
    margin-bottom: 20px;
}

.back-btn {
    color: green !important;
    text-decoration: none;
    border: 2px solid green;
    padding: 4px;
    border-radius: 10px;
}

.back-btn:hover {
    color: darkgreen !important;
    border: 2px solid darkgreen;
    transition: 0.2s;
}

.svg {
    width: 2.2rem;
    display: block;
    margin: 0 auto;
}