@page "/food"

<p><a href="/quiz">Back</a></p>
<h1>Food</h1>

<div class="category-container">
    <div class="card">
        <a href="/frenchcuisine"><img  class="categoryimage"src="/Images/frenchcuisine.webp" /></a>
        <div class="container">
            <h4>French cuisine</h4>
        </div>
    </div>
    <div class="card">
        <a href="/italiancuisine"><img class="categoryimage" src="/Images/italiancuisine.jpg" /></a>
        <div class="container">
            <h4>Italian cuisine</h4>
        </div>
    </div>
    <div class="card">
        <a href="/drinks"><img class="categoryimage" src="/Images/drinks.jpg" /></a>
        <div class="container">
            <h4>Drinks</h4>
        </div>
    </div>
    <div class="card">
        <a href="/desserts"><img class="categoryimage" src="/Images/dessert.jpg" /></a>
        <div class="container">
            <h4>Desserts</h4>
        </div>
    </div>
</div>